/*
This file is from the Charis SIL project (https://software.sil.org/charis/).
Copyright (c) 1997-2021 SIL International (http://www.sil.org/) with Reserved
Font Names "Charis" and "SIL". This Font Software is licensed under the SIL
Open Font License, Version 1.1 (http://scripts.sil.org/OFL).
*/
@font-face {
    font-family: CharisSIL-R;
    src: url("../../../web/CharisSIL-Regular.woff2") format("woff2");
}
@font-face {
    font-family: CharisSIL-I;
    src: url("../../../web/CharisSIL-Italic.woff2") format("woff2");
}
@font-face {
    font-family: CharisSIL-B;
    src: url("../../../web/CharisSIL-Bold.woff2") format("woff2");
}
@font-face {
    font-family: CharisSIL-BI;
    src: url("../../../web/CharisSIL-BoldItalic.woff2") format("woff2");
}

.charis-R { font-family: CharisSIL-R; }
.charis-B { font-family: CharisSIL-B; }
.charis-I { font-family: CharisSIL-I; }
.charis-BI { font-family: CharisSIL-BI; }
